{% extends 'layout.html' %}

{%block main%}
    <ol class="breadcrumb">
        <li><a href="">管理首页</a></li>
        <li><span>修改分类</span></li>
        
    </ol>
    <h3>修改分类 ---{{category.name}}</h3>
    <form role="form" method="POST">
        <div class="form-group">
            <label for="name">修改分类的名称</label>
                <input type="text" class="form-control" id="name" value="{{category.name}}" name="name">
        </div>
    
        <button type="submit" class="btn btn-default">添加</button>
    </form>
    

{%endblock%}