{% extends 'layout.html' %}

{%block main%}
    <ol class="breadcrumb">
        <li><a href="">管理首页</a></li>
        <li><span>用户列表</span></li>
        
    </ol>
    <h3>用户列表</h3>
    <table class="table table-hover table-striped">
        <tr>
            <th>_id</th>
            <th>username</th>
            <th>password</th>
            <th>isAdmin</th>
        </tr>
        {%for user in users%}
        <tr>
            <td>{{user._id.toString()}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{%if user.isAdmin%}是{%endif%}</td>
        </tr>
        {%endfor%}

    </table>
    
    <!-- 引用分页模板 -->
    {% include 'page.html'%}

{%endblock%}